@charset "EUC-KR";
@media screen and (min-width:1025px){
	/*log-in start*/
	.content-log{
		width:100%;
		height:1280px;
		background:url(../image/log.png) no-repeat;
	}
	.content-log-inner{
		width:600px;
		height:1090px;
		margin:0 auto;
		overflow:hidden;
		padding:95px 0;
		position:relative;
	}
	.content-log-inner>.location>a{color:#ffffff;}
	.log-tab{
	  width:600px; 
	  margin: 0 auto; 
	  position:relative;
	}

	.log-tab>ul>li{
	  display: inline-block;
	  width:50%; 
	  float:left;  
	  background :#666359;
	  color:#000000;
	}
	.log-tab .log-label{
	  display:block;
	  width:100%; 
	  height:100px;
	  line-height:100px;
	  font-size:30px;
	  text-align:center;
	}
	.log-tab input[type="radio"]{display:none;}
	.log-tab input:checked ~ .log-label{background:#fff; color:#666359;}
	.log-tab input:checked ~ .tablist{display:block;}
	/*sign*/
	.sign>label:nth-of-type(1){color:#ffffff;}
	.newsign>label:nth-of-type(1){color:#ffffff;}
	.sign h2{
		color:#666359; 
		font-size:20px;
		position:relative;
		top:27px;
	}
	.tablist{
	  display:none; 
	  position:absolute; 
	  left:0; top:100px; 
	  background:#ffffff;
	  width:100%;
	  height:100%;
	  }
	.sign-first-box{
		width:100%;
		height:100px;
		text-align:center;
		background:#ffffff;
		border-bottom:2px solid #666359;
	}
	.sign-second-box{
		width:560px;
		height:530px;
		background: rgba(255,255,255,0.8);
		padding:50px 20px;
		overflow:hidden;
	}
	.sign-second-box input{display:block;}
	.sign-second-box input[type="text"],
	.sign-second-box input[type="password"]{
		width:540px;
		height:60px;
		margin-top:10px;
		border:1px solid #000000;
		padding-left:20px;
	}
	.sign-second-box input[type="password"]{
		margin-bottom:20px;
	}
	.sign-second-box input[type="submit"]{
		width:560px;
		height:65px;
		background:#666359;
		border:1px solid #000000;
		font-size:20px;
		color:#ffffff;
		margin:80px 0 60px;

	}

	.sign-second-box>form>label:nth-of-type(1),
	.sign-second-box>form>label:nth-of-type(2){
		font-size:18px;
		font-weight:bold;
		display:block;
	}
	.sign-second-box>form>label:nth-of-type(2){margin-top:30px;}
	.sign-second-box>form>label:nth-of-type(3){display:inline-block;}
	.sign-second-box input[type="checkbox"]{
		width:20px;
		height:20px;
		float:left;
		margin:0 5px 0 0;
	}

	.sign-third-box{
		width:460px;
		height:60px;
		margin:0 auto;
		overflow:hidden;
	}
	.sign-third-box>li{
		width:150px;
		display:inline-block;
		text-align:center;
		padding:20px 0;
		position:relative;
		float:left;
	}
	.sign-third-box>li>a{
		padding:20px 30px;
		font-weight:bold;
	}
	.sign-third-box>li:after {
		content:'';
		width:1px;
		height:16px;
		background:#000000;
		position:absolute;
		top:20px;
		right:-3px;
	}
	.sign-third-box>li:nth-child(3):after{background:none;}


	/*Newsign*/
	.newsign-first-box{
		width:560px;
		height:60px;
		background:#ffffff;
		border-bottom:2px solid #666359;
		padding:20px;
		overflow:hidden;
	}
	.newsign-first-box>p{
		font-size:18px;
	}
	.newsign-first-box>p:nth-child(1){margin-bottom:13px;}
	.newsign-first-box>label:nth-of-type(1){font-size:18px;}

	.newsign-second-box{
		width:560px;
		/*height:872px;*/
		background: rgba(255,255,255,0.8);
		padding:20px 20px 30px;
		overflow:hidden;
	}

	.newsign-second-box .newsign-agree>.newsign-agree-box{padding:10px;background:#ffffff;}
	.newsign-agree-text{font-size:18px;font-weight:bold;}

	.newsign-agree-accordion {
	  background-color: #eee;
	  color: #444;
	  cursor: pointer;
	  padding: 18px;
	  width: 100%;
	  border: none;
	  text-align: left;
	  outline: none;
	  font-size: 18px;
	  font-weight:bold;
	  transition: 0.4s;
	}
	.newsign-agree-accordion>span{color:#78c042;}

	.active, .newsign-agree-accordion:hover {
	  background-color: #f4f4f2;
	}

	.newsign-agree-accordion:after {
	  content: '\002B';
	  color: #777;
	  font-weight: bold;
	  float: right;
	  margin-left: 5px;
	}

	.active:after {
	  content: "\2212";
	}
	.newsign-second-box .newsign-agree{
		width:540px;
		height:150px;
		margin:10px 0 15px;
		overflow-y:scroll;
		border:1px solid #666;
		border-radius:5px 5px;
		transition: max-height 0.2s ease-out;
		padding: 0 10px;
		background-color: white;
		max-height: 0;
	}


	.newsign-agree-text-inner{margin:5px 0 30px; font-size:15px;}
	.newsign-second-box .newsign-agree-text>span{color:#78c042;}
	.newsign-third-box{
		width:560px;
		height:280px;
		border:1px solid #000000;
		background:#ffffff;
		margin:20px 0 30px;
		overflow:hidden;
		box-sizing: border-box;
		padding:0 30px;
		border-radius: 12px;
	}
	.id-label{
		display:block;
		font-weight: bold;
		margin-top:15px;
	}
	.log-input{
		width:100%;
		height:35px;
		display: block;
		padding-left:10px;
	}
	.log-submit{
		width: 100px;
		height:30px;
		margin: 0 auto;
		display: block;
		margin-top:15px;
		font-weight: bold;
	}
	.newsign-third-box-inner{
		width:50%;
		height:100%;
		float:left;
		overflow:hidden;
		position:relative;
	}
	.newsign-third-box-inner:after{
		content:'';
		width:1px;
		height:180px;
		background:#000000;
		position:absolute;
		top:17px;
		left:0;
	}
	.newsign-third-box-inner:nth-of-type(1):after{background:none;}

	.newsign-third-box-inner input[type="image"]{
		margin:0 auto;
		display:block;
		margin-top:25px;
	}
	.newsign-third-box-inner>p{text-align:center; font-weight:bold; margin:10px;}
	.newsign-third-box-inner>input[type="submit"]{
		width:80px;
		height:30px;
		margin:0 auto;
		display:block;
		background:#666359;
		color:#ffffff;
		border:none;
	}
	p>label>input[type="checkbox"]{
		float:right;
		margin-top:5px;
		width:20px;
		height:20px;
	}
	.newsign-second-box>label>input[type="checkbox"]{
		float:right;
		width:20px;
		height:20px;
		margin-bottom:5px;
	}

}

/********************************************************테블릿*************************************************************/
@media screen and (min-width:768px) and (max-width:1024px){
	/*log-in start*/
	.content-log{
		width:100%;
		overflow:hidden;
		background:url(../image/log.png) no-repeat;
	}
	.content-log-inner{
		width:70%;
		height:1090px;
		margin:0 auto;
		overflow:hidden;
		padding:95px 0;
		position:relative;
	}
	.content-log-inner>.location>a{color:#ffffff;}
	.log-tab{
	  width:100%; 
	  margin: 0 auto; 
	  position:relative;
	}

	.log-tab>ul>li{
	  display: inline-block;
	  width:50%; 
	  float:left;  
	  background :#666359;
	  color:#000000;
	}
	.log-tab .log-label{
	  display:block;
	  width:100%; 
	  height:80px;
	  line-height:80px;
	  font-size:20px;
	  /*font-weight:bold;*/
	  text-align:center;
	}
	.log-tab input[type="radio"]{display:none;}
	.log-tab input:checked ~ .log-label{background:#fff; color:#666359;}
	.log-tab input:checked ~ .tablist{display:block;}
	/*sign*/
	.sign>label:nth-of-type(1){color:#ffffff;}
	.newsign>label:nth-of-type(1){color:#ffffff;}
	.sign h2{
		color:#666359; 
		font-size:18px;
		position:relative;
		top:28%;
	}
	.tablist{
	  display:none; 
	  position:absolute; 
	  left:0; top:79px; 
	  background:#ffffff;
	  width:100%;
	  height:100%;
	  }
	.sign-first-box{
		width:100%;
		height:80px;
		text-align:center;
		background:#ffffff;
		border-bottom:2px solid #666359;
	}
	.sign-second-box{
		width:100%;
		background: rgba(255,255,255,0.8);
		padding:30px 20px;
		overflow:hidden;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	.sign-second-box input{display:block;}
	.sign-second-box input[type="text"],
	.sign-second-box input[type="password"]{
		width:100%;
		height:60px;
		margin-top:10px;
		border:1px solid #000000;
		padding-left:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	.sign-second-box input[type="password"]{
		margin-bottom:20px;
	}
	.sign-second-box input[type="submit"]{
		width:100%;
		height:65px;
		background:#666359;
		border:1px solid #000000;
		font-size:20px;
		color:#ffffff;
		margin:50px 0 50px;

	}

	.sign-second-box>form>label:nth-of-type(1),
	.sign-second-box>form>label:nth-of-type(2){
		font-size:16px;
		font-weight:bold;
		display:block;
	}
	.sign-second-box>form>label:nth-of-type(2){margin-top:30px;}
	.sign-second-box>form>label:nth-of-type(3){display:inline-block;}
	.sign-second-box input[type="checkbox"]{
		width:20px;
		height:20px;
		float:left;
		margin:0 5px 0 0;
	}

	.sign-third-box{
		width:86%;
		height:60px;
		margin:0 auto;
		overflow:hidden;
	}
	.sign-third-box>li{
		width:33.33%;
		display:inline-block;
		text-align:center;
		padding:20px 0;
		position:relative;
		float:left;
	}
	.sign-third-box>li>a{
		padding:20px 30px;
		font-weight:bold;
	}
	.sign-third-box>li:after {
		content:'';
		width:1px;
		height:16px;
		background:#000000;
		position:absolute;
		top:20px;
		right:-3px;
	}
	.sign-third-box>li:nth-child(3):after{background:none;}


	/*Newsign*/
	.newsign-first-box{
		width:100%;
		height:100px;
		background:#ffffff;
		border-bottom:2px solid #666359;
		padding:20px;
		overflow:hidden;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	.newsign-first-box>p{
		font-size:16px;
	}
	.newsign-first-box>p:nth-child(1){margin-bottom:13px;}
	.newsign-first-box>label:nth-of-type(1){font-size:18px;}

	.newsign-second-box{
		width:100%;
		/*height:872px;*/
		background: rgba(255,255,255,0.8);
		padding:20px 20px 30px;
		overflow:hidden;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}

	.newsign-second-box .newsign-agree>.newsign-agree-box{padding:10px;background:#ffffff;}
	.newsign-agree-text{font-size:16px;font-weight:bold;}

	.newsign-agree-accordion {
	  background-color: #eee;
	  color: #444;
	  cursor: pointer;
	  padding: 18px;
	  width: 100%;
	  border: none;
	  text-align: left;
	  outline: none;
	  font-size: 16px;
	  font-weight:bold;
	  transition: 0.4s;
	}
	.newsign-agree-accordion>span{color:#78c042;}

	.active, .newsign-agree-accordion:hover {
	  background-color: #f4f4f2;
	}

	.newsign-agree-accordion:after {
	  content: '\002B';
	  color: #777;
	  font-weight: bold;
	  float: right;
	  margin-left: 5px;
	}

	.active:after {
	  content: "\2212";
	}
	.newsign-second-box .newsign-agree{
		width:100%;
		height:150px;
		margin:10px 0 15px;
		overflow-y:scroll;
		border:1px solid #666;
		border-radius:5px 5px;
		transition: max-height 0.2s ease-out;
		padding: 0 10px;
		background-color: white;
		max-height: 0;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}

	.newsign-agree-text-inner{margin:5px 0 30px; font-size:15px;}
	.newsign-second-box .newsign-agree-text>span{color:#78c042;}
	.newsign-third-box{
		width:100%;
		height:215px;
		border:1px solid #000000;
		background:#ffffff;
		margin:20px 0 30px;
		overflow:hidden;
	}
	.newsign-third-box-inner{
		width:50%;
		height:100%;
		float:left;
		overflow:hidden;
		position:relative;
	}
	.newsign-third-box-inner:after{
		content:'';
		width:1px;
		height:180px;
		background:#000000;
		position:absolute;
		top:17px;
		left:0;
	}
	.newsign-third-box-inner:nth-of-type(1):after{background:none;}

	.newsign-third-box-inner input[type="image"]{
		margin:0 auto;
		display:block;
		margin-top:25px;
	}
	.newsign-third-box-inner>p{text-align:center; font-weight:bold; margin:10px;}
	.newsign-third-box-inner>input[type="submit"]{
		width:80px;
		height:30px;
		margin:0 auto;
		display:block;
		background:#666359;
		color:#ffffff;
		border:none;
	}
	p>label>input[type="checkbox"]{
		float:right;
		margin-top:5px;
		width:20px;
		height:20px;
	}
	.newsign-second-box>label>input[type="checkbox"]{
		float:right;
		width:20px;
		height:20px;
		margin-bottom:5px;
	}
}

/***********************************************************핸드폰*********************************************************/
@media screen and (max-width:767px){
	/*log-in start*/
	.content-log{
		width:100%;
		overflow:hidden;
		background:url(../image/log.png) no-repeat;
	}
	.content-log-inner{
		width:90%;
		height:435px;
		margin:0 auto;
		overflow:hidden;
		padding:60px 0;
		position:relative;
	}
	.content-log-inner>.location>a{color:#ffffff; font-size:10px;}
	.log-tab{
	  width:100%; 
	  margin: 0 auto; 
	  position:relative;
	}

	.log-tab>ul>li{
	  display: inline-block;
	  width:50%; 
	  float:left;  
	  background :#666359;
	  color:#000000;
	}
	.log-tab .log-label{
	  display:block;
	  width:100%; 
	  height:60px;
	  line-height:60px;
	  font-size:18px;
	  /*font-weight:bold;*/
	  text-align:center;
	}
	.log-tab input[type="radio"]{display:none;}
	.log-tab input:checked ~ .log-label{background:#fff; color:#666359;}
	.log-tab input:checked ~ .tablist{display:block;}
	/*sign*/
	.sign>label:nth-of-type(1){color:#ffffff;}
	.newsign>label:nth-of-type(1){color:#ffffff;}
	.sign h2{
		color:#666359; 
		font-size:14px;
		position:relative;
		top:28%;
	}
	.tablist{
	  display:none; 
	  position:absolute; 
	  left:0; top:59px; 
	  background:#ffffff;
	  width:100%;
	  height:100%;
	  }
	.sign-first-box{
		width:100%;
		height:60px;
		text-align:center;
		background:#ffffff;
		border-bottom:2px solid #666359;
	}
	.sign-second-box{
		width:100%;
		background: rgba(255,255,255,0.8);
		padding:15px 10px;
		overflow:hidden;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	.sign-second-box input{display:block;}
	.sign-second-box input[type="text"],
	.sign-second-box input[type="password"]{
		width:100%;
		height:40px;
		margin-top:5px;
		border:1px solid #000000;
		padding-left:10px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
		font-size:10px;
	}
	.sign-second-box input[type="password"]{
		margin-bottom:10px;
	}
	.sign-second-box input[type="submit"]{
		width:100%;
		height:40px;
		background:#666359;
		border:1px solid #000000;
		font-size:14px;
		color:#ffffff;
		margin:20px 0 20px;

	}

	.sign-second-box>form>label:nth-of-type(1),
	.sign-second-box>form>label:nth-of-type(2){
		font-size:12px;
		font-weight:bold;
		display:block;
	}
	.sign-second-box>form>label:nth-of-type(2){margin-top:15px;}
	.sign-second-box>form>label:nth-of-type(3){display:inline-block; font-size:10px;}
	.sign-second-box input[type="checkbox"]{
		width:15px;
		height:15px;
		float:left;
		margin:2.5px 5px 0 0;
	}

	.sign-third-box{
		width:89%;
		height:40px;
		margin:0 auto;
		overflow:hidden;
	}
	.sign-third-box>li{
		width:33.33%;
		text-align:center;
		position:relative;
		float:left;
	}
	.sign-third-box>li>a{
		padding:10px 15px;
		font-weight:bold;
		font-size:10px;
		display:inline-block;
	}
	.sign-third-box>li:after {
		content:'';
		width:1px;
		height:12px;
		background:#000000;
		position:absolute;
		top:12px;
		right:0;
	}
	.sign-third-box>li:nth-child(3):after{background:none;}


	/*Newsign*/
	.newsign-first-box{
		width:100%;
		height:60px;
		background:#ffffff;
		border-bottom:2px solid #666359;
		padding:10px;
		overflow:hidden;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	.newsign-first-box>p:nth-of-type(1){
		font-size:12px;
	}
	.newsign-first-box>p:nth-child(1){margin-bottom:8px;}
	.newsign-first-box>label:nth-of-type(1){font-size:18px;}

	.newsign-second-box{
		width:100%;
		/*height:872px;*/
		background: rgba(255,255,255,0.8);
		padding:10px 10px 30px;
		overflow:hidden;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}

	.newsign-second-box .newsign-agree>.newsign-agree-box{padding:10px;background:#ffffff;}
	.newsign-agree-text{font-size:12px;font-weight:bold;}

	.newsign-agree-accordion {
	  background-color: #eee;
	  color: #444;
	  cursor: pointer;
	  padding: 14px;
	  width: 100%;
	  border: none;
	  text-align: left;
	  outline: none;
	  font-size: 12px;
	  font-weight:bold;
	  transition: 0.4s;
	  margin-top:5px;
	}
	.newsign-agree-accordion>span{color:#78c042;}

	.active, .newsign-agree-accordion:hover {
	  background-color: #f4f4f2;
	}

	.newsign-agree-accordion:after {
	  content: '\002B';
	  color: #777;
	  font-weight: bold;
	  float: right;
	  margin-left: 5px;
	}

	.active:after {
	  content: "\2212";
	}
	.newsign-second-box .newsign-agree{
		width:100%;
		height:150px;
		margin:10px 0 15px;
		overflow-y:scroll;
		border:1px solid #666;
		border-radius:5px 5px;
		transition: max-height 0.2s ease-out;
		padding: 0 10px;
		background-color: white;
		max-height: 0;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}

	.newsign-agree-text-inner{margin:5px 0 20px; font-size:12px;}
	.newsign-second-box .newsign-agree-text>span{color:#78c042;}
	.newsign-third-box{
		width:100%;
		height:200px;
		border:1px solid #000000;
		background:#ffffff;
		margin:15px 0 20px;
		overflow:hidden;
		padding-bottom:20px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}
	.newsign-third-box-inner{
		width:50%;
		height:100%;
		float:left;
		overflow:hidden;
		position:relative;
	}
	.newsign-third-box-inner:after{
		content:'';
		width:1px;
		height:180px;
		background:#000000;
		position:absolute;
		top:17px;
		left:0;
	}
	.newsign-third-box-inner:nth-of-type(1):after{background:none;}

	.newsign-third-box-inner input[type="image"]{
		margin:0 auto;
		display:block;
		margin-top:20px;
	}
	.newsign-third-box-inner>p{
		text-align:center; 
		font-weight:bold; 
		margin:10px;
		font-size:10px;
	}
	.newsign-third-box-inner>input[type="submit"]{
		width:70px;
		height:25px;
		margin:0 auto;
		display:block;
		background:#666359;
		color:#ffffff;
		border:none;
		font-size:10px;
	}
	p>label>input[type="checkbox"],
	.newsign-second-box>label>input[type="checkbox"]{
		float:right;
		margin-top:2px;
		width:15px;
		height:15px;
	}
	.lastText{font-size:10px;}
}